/*-----------------------------------------------------
INPUT
-----------------------------------------------------*/

input:focus {
    outline     : none;
}

input[type="search"] {
    @extend .placeholder;
    @extend %width_full;
    border-style    : none;
    background-color: inherit;
    padding-right   : 5px;
}

input::placeholder {
    @include inputPlaceholder() {
        color       : $color__placeholder;
        font-style  : italic;
    }
}